@{ Layout = "_Layout"; }

<div class="row">
  <div class="col-12">
    <div class="home">
      <h1>Welcome to the Hair Salon Management</h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-6 home">
    <p>@Html.ActionLink("View Stylists", "Index", "Stylists")</p>
  </div>
  <div class="col-6 home">
    <p>@Html.ActionLink("View Clients", "Index", "Clients")</p>
  </div>
</div>
