@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client

<div class="header">
  <h1>Are you sure you want to remove @Html.DisplayFor(model => model.Name)?
  </h1>
</div>

@using (Html.BeginForm())
{
  <input type="submit" value="Delete" class="btn btn-primary"/>
}

<div class="links">
  @Html.ActionLink("Back to Clients", "Index", new { id = Model.ClientId })
</div>
